/* ==========================================================================
   * Pseudos Tools 
   ========================================================================== 
*/

// * ::after, ::before generator
/* This is a SCSS mixin that generates CSS code for creating pseudo-elements (::before and ::after)
with customizable properties. */
@mixin pseudo(
  $pos,
  $width,
  $height,
  $top: null,
  $left: null,
  $bottom: null,
  $right: null,
  $rel: true,
  $content: null
) {
  @if ($rel == true) {
    position: relative;
  }
  &:#{$pos} {
    position: absolute;
    display: block;
    width: $width;
    height: $height;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
    content: '#{$content}';
    @content;
  }
}
