/* ==========================================================================
   * Overflow Variables
   ========================================================================== 
*/

$u-overflow: (
  'overflow': (
    property: overflow,
    values: auto hidden visible scroll,
  ),
);
