/* ==========================================================================
   * Icomoon Variables 
   ========================================================================== 
*/

$icomoon-font-family: 'mp' !default;

$ic-sort-desc: '\e95d';
$ic-sort-asc: '\e921';
$ic-arr-up: '\e901';
$ic-arr-down: '\e904';
$ic-arr-right: '\e94f';
$ic-arr-left: '\e903';
$ic-arr-chev-right: '\e907';
$ic-arr-chev-left: '\e915';
$ic-arr-chev-down: '\e916';
$ic-arr-chev-up: '\e920';
$ic-minus: '\e95b';
$ic-plus: '\e95c';
$ic-close: '\e959';
$ic-search: '\e933';
$ic-pin: '\e952';
$ic-mail: '\e95a';
$ic-credit: '\e953';
$ic-clock: '\e954';
$ic-exit: '\e955';
$ic-fav: '\e956';
$ic-shopping-cart: '\e957';
$ic-Wallet: '\e958';
$ic-eyes-slash: '\e950';
$ic-eyes: '\e951';
$ic-avatar: '\e900';
$ic-plus-circle: '\e902';
$ic-trash: '\e905';
$ic-warning: '\e906';
$ic-audio: '\e908';
$ic-battery: '\e909';
$ic-bluetooth: '\e90a';
$ic-camera: '\e90b';
$ic-cpu: '\e90c';
$ic-screen: '\e90d';
$ic-mobile: '\e90e';
$ic-port: '\e90f';
$ic-headphone: '\e934';
$ic-game: '\e942';
$ic-ram: '\e910';
$ic-simcard: '\e911';
$ic-watch: '\e945';
$ic-mouse: '\e947';
$ic-laptop: '\e948';
$ic-Storage: '\e912';
$ic-Wifi: '\e913';
$ic-tick-circle: '\e914';
$ic-adv: '\e917';
$ic-dis-adv: '\e918';
$ic-half-star: '\e919';
$ic-fill-star: '\e91a';
$ic-star: '\e91b';
$ic-like: '\e91c';
$ic-dislike: '\e91d';
$ic-dot: '\e91e';
$ic-share: '\e949';
$ic-comparison: '\e94a';
$ic-chart: '\e94b';
$ic-Frame-1468: '\e94c';
$ic-notif: '\e94d';
$ic-flame: '\e91f';
$ic-circle-fill: '\e924';
$ic-Frame-2173: '\e927';
$ic-lightning: '\e928';
$ic-trophy: '\e929';
$ic-truck: '\e92a';
$ic-bell: '\e92b';
$ic-flag: '\e92d';
$ic-gift: '\e92f';
$ic-sale: '\e931';
$ic-about-us: '\e938';
$ic-installment: '\e939';
$ic-blog: '\e93a';
$ic-contact: '\e93b';
$ic-hamburger: '\e93c';
$ic-tag: '\e93f';
$ic-network: '\e943';
$ic-telephone: '\e944';
