/* ==========================================================================
   * Animations Transitions vars
   ========================================================================== 
*/

$button-hover-time: 0.1s;

$tooltip-hover-time: 0.3s;

$inputs-hover-time: 0.3s;

$button-click-effect-time: 0.15s;

$slider-tooltip-hover-time: 0.2s;

$accordion-transition: 0.3s all cubic-bezier(0.17, 0.67, 0.09, 0.97);
