/* ==========================================================================
   * OPACITY VARIABLES
   ========================================================================== 
*/

$u-opacity: (
  'opacity': (
    property: opacity,
    values: (
      0: 0,
      25: 0.25,
      50: 0.5,
      75: 0.75,
      100: 1,
    ),
  ),
);

$u-bg-opacity: (
  'bg-opacity': (
    css-var: true,
    class: u-bg-opacity,
    values: (
      10: 0.1,
      25: 0.25,
      50: 0.5,
      75: 0.75,
      100: 1,
    ),
  ),
);
